<div ng-include=" '/partials/navbar.html' "></div>

<div class="container-fluid">
  <div class="row">
	  <div class="col-sm-6">
	    <div class='panel panel-info'>
	      <div class="panel-heading" ng-repeat="info in infoCtrl.syncObject">
	        <h3>{{ info.name }}</h3>
	      </div>
	      <div class="row">
			    <table>
			    	<tr ng-repeat="(id, info) in infoCtrl.syncObject">
			    	  <td class="panel-body">Goal: {{ info.q1 }}</td>
			    	  <td>
			    	  	<button ng-click="infoCtrl.syncObject.$remove(id)">x</button>
			    	  </td>
			    	  <td ng-controller="editCtrl"><button ng-click="editNew(info)">Edit</button></td>
			    	</tr>  
			    	<tr ng-repeat="(id, info) in infoCtrl.syncObject">    
			    	  <td class="panel-body">{{ info.q2 }}</td>
			    		<td>
			    	  	<button ng-click="infoCtrl.syncObject.$remove(id)">x</button>
			    	  </td>  
			    	</tr>  
			    	<tr ng-repeat="(id, info) in infoCtrl.syncObject">  
			    	  <td class="panel-body">{{ info.q5 }}</td>
			    	  <td>
			    	  	<button ng-click="infoCtrl.syncObject.$remove(id)">x</button>
			    	  </td>  
			    	</tr>			    		
			    	</tr>
			    </table>
		    </div>
	    </div>
  	</div>
    <div class="row">
      <div class="col-sm-3 panel panel-info">
        <div class="panel-heading">
	        <h4>Biometric Results</h4>
	      </div>  
      	<table>
	      	  <tr ng-repeat="info in infoCtrl.syncObject">
	      		  <td class="panel-body">Weight: {{ info.weight }} </td>
	      		  <td class="panel-body">Height: {{ info.height }} </td>
	      		</tr>	 
      	</table>
      </div>
	      <div>
	      	<img src="styles/pictures/zrun.gif" width="250" height="150">
	      </div>
  	</div>
  </div>	
</div>