<div ng-include=" '/partials/navbar.html' "></div>

<html>
	<head>
	  <h1>Answer a few questions</h1>
	  <img src="styles/pictures/AZ-dancing.gif" height="100">
	</head>
		<body>
			  <div class="form-group">
			     <div> 
					  <label> What is your name?</label>
					  <input type="text" class='form-control' ng-model='infoCtrl.newInfo.name'/>
					</div>  
				  <div class="form-group">
				  	<h3>Biometric Measurements</h3>
				    <label>Weight</label>
				    	<input type="text" class='form-control' ng-model='infoCtrl.newInfo.weight'/>
				    <label>Height</label>
				    	<input type="text" class='form-control' ng-model='infoCtrl.newInfo.height'/>
					</div>  				  
			    <div> 
					  <label>1. What are your goals that I can help you with? i.e. lose weight, get stronger, etc</label>
					  	<input type="text" class='form-control' ng-model='infoCtrl.newInfo.q1'/>
					</div>  
					<div>
					  <label>2. Have you ever tried online personal training in the past?</label>
					  	<input type="text" class='form-control' ng-model='infoCtrl.newInfo.q2'/>
					</div>
					<div>  
					  <label>3. If active, what is your current activity level or workout plan? Days per week spent exercising?</label>
					  	<input type="text" class='form-control' ng-model='infoCtrl.newInfo.q3'/>
					</div>
					<div>
					  <label>4. Do you have any current/past injuries? Medical Issues? Have you seen a doctor?</label>
					  	<input type="text" class='form-control' ng-model='infoCtrl.newInfo.q4'/>
					</div>
					<div>
					  <label>5. Would you prefer to workout at home or in a gym? Your preference is important for me to develop a program based for you and only you.</label>
					  	<input type="text" class='form-control' ng-model='infoCtrl.newInfo.q5' />
					</div>
					<div>
					  <label for='sel2'>6. What is the maximum amount of days per week you can realistically devote to exercising? What is the minimum number of days you will attend? What are your best days for exercise?</label>
					  <select class="form-control" id="sel2" ng-model='infoCtrl.newInfo.q6'>
					    <option>0</option>
					    <option>1-2</option>
					    <option>3-4</option>
					    <option>5/more</option>
			  		</select>
					</div>
					<div class='form-group'>
					  <label for='sel1'>7. How much time do you spend in front of a screen (tv, computer, etc) everyday?</label>
					  <select class="form-control" id="sel1" ng-model='infoCtrl.newInfo.q7'>
					    <option>0</option>
					    <option>1-2</option>
					    <option>3-4</option>
					    <option>5/more</option>
				    </select>
					    <button type="submit" ng-click="addInfo()" class="btn btn-danger"><a href="#/profile">Submit</a></button>
			    </div>
			  </div>
		</body>
</html>
 