<div ng-include=" '/partials/navbar.html' "></div>

<div class="container">
  <div class="jumbotron">
  	<h1>What is Zombie Hunter Fitness?</h1>
  	<h3>Should I actually believe in the undead?</h3>
  </div>
</div>
  <div class="row">
  	<div class="col-sm-6">
  		Teriq Perry BS, Health Fitness Specialist, Athlete, Father, and Zombie Hunter who specializes in barehanded zombie defense.  I’m here to write and possibly train you in whatever goal you wish to accomplish.  Whether it be sports specific training or everyday functional training or maybe you just want to get definition i.e. six pack or "cut up."  	
  	</div>
  </div>
  <div class="row">
    <div class="col-sm-offset-6">
			Even if you’re not perfect that’s fine I’m a human who loves a good meal and a relaxing day on the couch.  The journey of health is a long one and I’m happy to help you along that personal journey with me.  We’ll travel together and though our destinations may be different I guarantee we’ll all be better individuals for it.  I’m an open book and everything I   discuss will lead to your increasing survivability in the event of the Zombie Apocalypse.
		</div>	
	</div>