
<html>
<head>

</head>
<body>
  <div>
    <h2>Workout</h2>
  	<label>Frequency</label>
		  <input type="text" class='form-control' ng-model='infoCtrl.newInfo.days'/>
		</div>  
		<label>Volume</label>
		  <input type="text" class='form-control' ng-model='infoCtrl.newInfo.intensity'/>
		</div>  
		<label>Intensity</label>
		  <input type="text" class='form-control' ng-model='infoCtrl.newInfo.intensity'/>
		</div>    
    </div>
    <div> 
		  <label>Reps</label>
		  <input type="text" class='form-control' ng-model='infoCtrl.newInfo.reps'/>
		</div>
		<div> 
		  <label>Reps</label>
		  <input type="text" class='form-control' ng-model='infoCtrl.newInfo.reps'/>
		</div>
</body>
</html>