<div ng-include=" '/partials/navbar.html' "></div>

<html>
<head>

</head>
<body>
  <div>
    <h2>Workout</h2>
  	<label>Frequency</label>
		  <input type="text" class='form-control' ng-model='infoCtrl.newInfo.days'/>
		</div>  
		<label>Volume</label>
		  <input type="text" class='form-control' ng-model='infoCtrl.newInfo.volume'/>
		</div>  
		<label>Intensity</label>
		  <input type="text" class='form-control' ng-model='infoCtrl.newInfo.intensity'/>
		</div>    
    <div> 
		  <label>Sets</label>
		  <input type="text" class='form-control' ng-model='infoCtrl.newInfo.reps'/>
		  <button type="submit" ang-click="infoCtrl.addInfo()" class="btn btn-danger"><a href="#/profile">Submit</a></button>
		</div>
	</div>	
</body>
</html>