<div ng-include=" '/partials/navbar.html' "></div>

<div class="container">
	<div class="row">
		<div class="col-sm-6 form-group">
		  <label>Monday:</label>
		  <textarea class='form-control' rows="5" id='comment' ng-model="moreCtrl.moreInfo.w1"></textarea>

		  <button type="submit" ng-click="addMore()" class="btn btn-danger">Submit</button>
	</div>
	</div>
</div>
<div class="container">
	<div class="row">
	  <table "col-sm-6 off">
		  <tr ng-repeat="(id, more) in moreCtrl.newObject">
				<td class="panel-body">Weekly Workout: {{ more.w1 }}</td>
			  <td>
			  	<button ng-click="moreCtrl.newObject.$remove(id)">x</button>
			  	<input ng-model="more.text" ng-change="moreCtrl.newObject.$save(more)" />
			  </td>	
			</tr>
		</table>
	</div>	
</div>